/* Inventory.css */
.inventory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px 32px;
  
  background: #584948; 
  
  min-height: 100vh;
  
  width: 100%;
  box-sizing: border-box;
}

.inventory__title {
  font-size: 2.5rem;
  color: #D8C4C4;
  margin: 0;
}

.inventory__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}