/* OrderTable.css */
.order-table__wrapper {
  border-radius: 12px;
  overflow: hidden;
}

.order-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.order-table__header {
  background: #3E3232;
}

.order-table__header th {
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #D8C4C4;
  text-align: center;
}