.register-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c4a4a1;
}

.register-main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}