.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  background-color: #c9b8b8;
}
