.input-otp-box {
  width: 35px;
  height: 48px;
  border-radius: 12px; /* Bordes redondeados como en la imagen */
  border: none;
  /* Este es el color café de tu imagen de referencia */
  background-color: #7D6663; 
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  /* Color de letra blanco para que se vea sobre el café oscuro */
  color: #ffffff; 
  outline: none;
  transition: all 0.2s ease;
}

.input-otp-box:focus {
  /* Al hacer clic, se aclara un poquito para saber dónde estamos escribiendo */
  background-color: #8e7875;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}